/* 
    Transition-property (전환)

    transition-property, transition-duration,
		transition-timing-function, transition-delay

*/

/* transition-property */
.transition-property {
	width: 300px;
	height: 80px;
	border: 2px dashed teal;
	background-color: darkslategray;
	font-size: 40px;
	color: white;

	transition-property: all;
}

.transition-property:hover {
	background-color: indianred;
}

/* transition-duration */
.transition-duration {
	width: 300px;
	height: 80px;
	border: 2px dashed teal;
	background-color: darkslategray;
	font-size: 40px;
	color: white;

	transition-property: all;
	transition-duration: .8s;
}

.transition-duration:hover {
	background-color: indianred;
}

/* transition-delay */
.transition-delay {
	width: 300px;
	height: 80px;
	border: 2px dashed teal;
	background-color: darkslategray;
	font-size: 40px;
	color: white;

	transition-property: all;
	transition-duration: .8s;
	transition-delay: 1s;
}

.transition-delay:hover {
	background-color: indianred;
}

/* transition-timing-function */
.transition-timing-function {
	width: 300px;
	height: 80px;
	border: 2px dashed teal;
	background-color: blue;
	font-size: 40px;
	color: white;

	transition-property: all;
	transition-duration: 3s;
	transition-timing-function: linear;
}

.transition-timing-function:hover {
	background-color: red;
	height: 400px;

}

.transition {
	width: 300px;
	height: 80px;
	border: 2px dashed teal;
	background-color: blue;
	font-size: 40px;
	color: white;
	
	transition: all 3s ease-in-out 1s;
}

.transition:hover {
	background-color: yellow;
	height: 400px;
}

/* Transition + Transform */
.box {
	width: 100px;
	height: 100px;
	border: 10px solid seagreen;
	background-color: rgb(204, 253, 225);
	border-radius: 30px;

	transition: all 1s ease-in-out;
	transform-origin: bottom right;
}

.box:hover {
	transform: rotate(360deg);
}

.my-bg:hover {
	background-color: red;
}