caption{
	text-indent: -10000px;
  position: absolute;
  left: -100000px;
}

.fullTable {
	width: 80%;
	margin: 0 auto;
}
table{
	width: 100%;
	font-size: 12px;
	font-family: "Tahoma";
	color: black;
	border: 1px solid #444444;
	border-collapse: collapse;
}

tr {
	border: 1px solid #444444;
}

th {
	border: 1px solid #444444;
	font-weight: normal;
}

td {
	display: table-cell;
	vertical-align: inherit;
	text-align: center;
	border: 1px solid #444444;
}

.tdLeft {
	text-align: left;
}

.top {
	background-color: #e2e0e0;
	font-weight: bold;
}
